@media (max-width:900px){
  
.flex-container div{
  font-size: 3vw;
}
}

/*
  flex 기능 활용
  description: 각 각의 계산기를 하나의 element로 가지는 flex
  스타일 적용 이유는 계산기 기능이 추후에도 추가 될 수 있기 때문에
  유지 보수 측면에서 스타일 변경을 최소화하기 위함.
*/
.flex-container {
  text-align: center;
  display: flex;
  background-image: url('../images/back.jpg');
  background-size: 100% 100%;
  flex-direction: column;
  color:white;
}

h1 {
  color: white;
  font-size: 7vw;
}

/*combinator 활용*/
.flex-container div{
  background-color: rgba(1, 0.5, 10, 0.6);
  background-size: 100% 100%;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  border-radius: 5%;
}
img{
  border-radius: 5%;
}
/*float 기능 활용*/
#float-right{
  float: right;
  border-radius: 3%;
}

#escape{
  text-align: center;
}

/*Pseudo-class 적용(hover)*/
#float-right:hover {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
  Attribute selector 사용
  description: 숫자 타입의 input에 대한 동일 스타일 적용
*/
input[type="number"] {
  width: 15vw;
  height: 1vh;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2vw;
}

/*
  Attribute selector 사용
  description: text 타입의 input에 대한 동일 스타일 적용
*/
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.pink-button {
  padding: 10px 20px;
  background-color: #ffff99;
  border: none;
  border-radius: 5px;
  color: gray;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/*
  Pseudo-class 적용(hover)
  description: 버튼에 배경색 변화
  */
.pink-button:hover {
  background-color: #f8c1f8;
}

/*
  Pseudo-class 적용(in-range) 
  description: 숫자 타입의 input 1~2,147,483,647 범위 만 허용
  해당 범위 만족하면 background-> 초록색
*/
/*
  Attribute selector 사용
  description: 숫자 타입의 input에 대한 동일 스타일 적용
*/
input[type="number"]:in-range {
  border: 2px solid green;
  background-color: lightgreen;
  color: darkgreen;
}

/*
  Pseudo-class 적용(in-range) 
  description: 숫자 타입의 input 1~2,147,483,647 범위 만 허용
  해당 범위 만족하지 못하면 background-> 빨간색
*/
/*
  Attribute selector 사용
  description: 숫자 타입의 input에 대한 동일 스타일 적용
*/
input[type="number"]:out-of-range {
  border: 2px solid red;
  background-color: lightpink;
  color: darkred;
}

@media(max-width: 700px) {
  .big-img{
    width: 70vw;
  }
  .flex-container div{
    font-size: 1em;
  }
}
/*
  Pseudo-class 적용(checked)
  description: 라디오 타입의 입력에 대하여 check된 항목은 
  label의 폰트크기가150% 확대와 폰트 색 -> skyblue
*/
/*
  Attribute selector 사용
  description: 라디오 타입의 input에 대한 동일 스타일 적용
*/
/*combinator 활용*/
input[type="radio"]:checked + label{
  font-size: 150%;
  color: skyblue;
}