
#game-main{
  text-align: center;
  background-image: url('../images/7Led.gif');
  background-size: 100%;
}

.gif-container {
  width: 100px;
  height: 100px;
  background-image: url(../images/static-removebg-preview.png);
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
  Pseudo-class 적용(hover)
  description: 틱-택-토 게임이 끝나거나 다시 하기 위한
  버튼에 hover하면 해당 gif 이미지의 배경이 다이나믹하게 변경
  된다.
*/
.gif-container:hover {
  background-image: url(../images/춘식이-춘식.gif);
  animation: play 1s steps(60) forwards;
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: blue;
  border-radius: 50%;
  transition: all 0.5s;
}

@keyframes play {
  to { background-position: -6000px; }
}
/*combinator 활용*/
main > table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 30%;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
td {
  border: 1px solid gray;
  padding: 20px;
  width: 15vh;
  height: 15vh;
}
/*combinator 활용*/
td > img {
  width: 15vh;
  height: 15vh;
  border: none;
}

